body {
    overflow-x: hidden;
}

section {
    padding-top: 64px;
    position: relative;
}

section::before {
    z-index: -1;
    content: '';
    font-size: 64px;
    color: grey;
    opacity: 0.25;
    position: absolute;
    font-weight: 600;
    top: 20px;
    left: -10px;
}

.navbar .nav-link:hover {
    font-weight: bold;
}

.navbar {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25);
}

.navbar-nav .nav-item .nav-link.btn:hover,
.navbar-nav .nav-item .nav-link.btn:active,
.navbar-nav .nav-item .nav-link.btn:focus {
    background-color: #FFCC00 !important;
}

.navbar .nav-link:hover {
    font-weight: bold;
}

.navbar {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25);
}

.navbar-nav .nav-item .nav-link.btn:hover,
.navbar-nav .nav-item .nav-link.btn:active,
.navbar-nav .nav-item .nav-link.btn:focus {
    background-color: #FFCC00 !important;
}
.btn.button {
    border: 3px solid black;
    border-radius: 24px;
}

.row .col p {
    text-align: justify;
}

.row .sosmed {
    width: 40px;
    height: 40px;
}

.sosmed-detail {
    margin-left: 10px;
    align-items: center;
}

.sosmed-detail .col:hover img {
    opacity: 1;
    transform: scale(1.1);
}

.sosmed-detail .col-auto:hover img {
    opacity: 1;
    transform: scale(1.1);
}

.sosmed-detail .col:hover p {
    text-decoration: underline;
}

.footer {
    background-color: #f8f9fa;
    padding: 20px 4px;
    color: #343a40;
}

.judul {
    animation: 2.5s upDown infinite;
}

.judul.pesan {
    animation: 2.5s upDown infinite;
    font-size: 20px;
}

@keyframes upDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

.grooming-image {
    position: relative;
    overflow: hidden;
    width: 260px;
    height: auto;
    margin: 0;
    transition: transform 0.3s ease-in-out;
}

.grooming-image:hover {
    transform: scale(1.1);
}

.grooming-image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.grooming-image:hover img {
    transform: scale(1.2);
}

#jenis-grooming h4 {
    text-align: justify;
    margin: 0 auto;
    max-width: 850px;
}

.garisbawah {
    height: 5px;
    width: 140px;
    background-color: #1291a1;
    margin: 0 auto;
}

@keyframes headShake {
    0% {
        transform: translateX(0);
    }

    6.5% {
        transform: translateX(-6px) rotateY(-9deg);
    }

    18.5% {
        transform: translateX(5px) rotateY(7deg);
    }

    31.5% {
        transform: translateX(-3px) rotateY(-5deg);
    }

    43.5% {
        transform: translateX(2px) rotateY(3deg);
    }

    50% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(0);
    }
}

.headShake {
    animation: headShake infinite;
}


@keyframes pulse {
    0% {
        transform: scale(0.7);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.pulse {
    animation: pulse 0.5s;
}


.carousel-control-prev {
    left: 0;
    transform: translateX(180%);
}

.carousel-control-next {
    right: 0;
    transform: translateX(-180%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #202020;
    color: #333;
    border-radius: 15px;
    padding: 10px;
}

.btn.button:hover, .btn.button.active {
    border: 3px solid black;
    background-color: #000000;
    color: whitesmoke;
}

.fade-in {
    opacity: 0;
    animation: fadeInAnimation 3s ease-in-out forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes bounceAnimation {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.animated-bounce {
    animation: bounceAnimation 4s ease-in-out infinite;
}


.navbar {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25);
}

    .navbar-nav .nav-item .nav-link.btn:hover,
    .navbar-nav .nav-item .nav-link.btn:active,
    .navbar-nav .nav-item .nav-link.btn:focus {
        background-color: #FFCC00 !important;
    }

    .tentang-kami-container a.arrow {
    animation: 2.5s upDown infinite;
    }

    @keyframes upDown {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(10px);
        }
        100% {
            transform: translateY(0);
        }
    }

    .persegi1 {
        position: absolute;
        z-index: -1;
        right: 0;
        width: 280px;
        right: -100px;
        height: auto;
    }

    .no-top {
        top: 70px;
    }

    .persegi2 {
        position: absolute;
        z-index: -1;
        left: 0;
        width: 280px;
        left: -100px;
        height: auto;
    }

    .garisbawah {
        height: 5px;
        width: 140px;
        background-color: #1291a1;
        margin: 0 auto;
    }

    .foto-container {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin-top: 20px;
    }

    .foto {
        width: 160px;
        height: 160px;
        object-fit: cover;
        margin-top: 20px;
    }

    .foto-item {
        text-align: center;
    }

    .teks-foto {
        margin-top: 10px;
    }

    .teks-container {
        text-align: left;
        max-width: 300px;
    }

    #tentang-kami h4 {
    text-align: justify;
    margin: 0 auto;
    max-width: 850px;
    }

    .layanan-kami-text {
    text-align: justify;
    margin: 0 auto;
    max-width: 850px;
    }

    #layanan-kami h5 {
    text-align: justify;
    margin: 0 auto;
    max-width: 600px;
    }

    .bounce {
    animation: bounceAnimation 5s infinite;
    }

    @keyframes bounceAnimation {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-20px);
        }
        60% {
            transform: translateY(-10px);
        }
    }

    .animate__animated.animate__bounce {
        --animate-duration: 2s;
    }

    @keyframes pulse {
        0% {
            transform: scale(0.7);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }

    .pulse {
        animation: pulse 0.5s;
    }


    .service-item-grooming-detail {
        display: none;
        padding: 10px;
        max-height: 405px;
        background-color: #ffffff;
        border: 4px solid #ddd;
        border-radius: 10px;
        margin-top: 40px;
        box-shadow: 0 2px 4px rgba(245, 230, 186, 0.1);
    }

    .service-item-grooming-detail li {
        list-style-type: none;
        margin-bottom: 10px;
    }

    .service-item-grooming-detail li::before {
        content: '\2022';
        color: #0f65c6;
        font-size: 1.5em;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }

    .service-item-grooming-detail img {
        width: 100%;
        max-width: 180px;
        height: auto;
        transition: transform 0.4s ease-in-out;
    }

    .service-item-grooming-detail img:hover {
        transform: scale(1.3);
    }

    .service-item-ph-detail {
        display: none;
        padding: 10px;
        max-height: 660px;
        background-color: #ffffffde;
        border: 4px solid #ddd;
        border-radius: 10px;
        margin-top: 40px;
        box-shadow: 0 2px 4px rgba(245, 230, 186, 0.1);
    }

    .service-item-ph-detail li {
        list-style-type: none;
        margin-bottom: 10px;
    }

    .service-item-ph-detail li::before {
        content: '\2022';
        color: #FFCC00;
        font-size: 1.5em;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }

    .service-item-ph-detail img {
        width: 100%;
        max-width: 180px;
        height: auto;
        transition: transform 0.4s ease-in-out;
        position: relative;
    }

    .service-item-ph-detail img:hover {
        transform: scale(1.3);
    }

    .contact-container {
        padding: 24px;
    }

    .contact-form {
        border: 1px solid black;
        padding: 32px 32px;
        border-radius: 24px;
        background-color: #e9f1fb;
    }

    .form-label {
        font-weight: 500;
    }

    .contact {
        padding-bottom: 128;
    }

    .row .col p {
        text-align: justify;
    }

    .row .sosmed {
        width: 40px;
        height: 40px;
    }

    .sosmed-detail {
        margin-left: 10px;
        align-items: center;
    }

    .sosmed-detail .col:hover img {
        opacity: 1;
        transform: scale(1.2);
    }

    .sosmed-detail .col-auto:hover img {
        opacity: 1;
        transform: scale(1.2);
    }

    .sosmed-detail .col:hover p {
        text-decoration: underline;
    }

    .wa-sticky {
        position: fixed;
        bottom: 20px;
        right: 10px;
        z-index: 100;
        transition: transform 0.4s ease;
        }

    .wa-sticky:hover {
        transform: scale(1.5);
        }

    .footer {
        background-color: #f8f9fa;
        padding: 20px 4px;
        color: #343a40;
    }


section {
padding-top: 64px;
position: relative;
}

section::before {
z-index: -1;
content: '';
font-size: 64px;
color: grey;
opacity: 0.25;
position: absolute;
font-weight: 600;
top: 20px;
left: -10px;
}

.navbar .nav-link:hover {
font-weight: bold;
}

.navbar {
box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25);
}

.navbar-nav .nav-item .nav-link.btn:hover,
.navbar-nav .nav-item .nav-link.btn:active,
.navbar-nav .nav-item .nav-link.btn:focus {
    background-color: #FFCC00 !important;
}

.row .col p {
    text-align: justify;
}

.row .sosmed {
    width: 40px;
    height: 40px;
}

.sosmed-detail {
    margin-left: 10px;
    align-items: center;
}

.sosmed-detail .col:hover img {
    opacity: 1;
    transform: scale(1.1);
}

.sosmed-detail .col-auto:hover img {
    opacity: 1;
    transform: scale(1.1);
}

.sosmed-detail .col:hover p {
    text-decoration: underline;
}

.footer {
    background-color: #f8f9fa;
    padding: 20px 4px;
    color: #343a40;
}

.judul {
animation: 2.5s upDown infinite;
}

.judul.pesan {
animation: 2.5s upDown infinite;
font-size: 20px;
}

@keyframes upDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.ph-image {
    position: relative;
    overflow: hidden;
    width:260px;
    height: auto;
    margin: 0;
    transition: transform 0.3s ease-in-out;
}

.ph-image:hover {
transform: scale(1.1);
}

.ph-image img {
width: 250px;
height: auto;
transition: transform 0.3s ease-in-out;
}

.ph-image:hover img {
transform: scale(1.2);
}

#fasilitas-ph h4 {
text-align: justify;
margin: 0 auto;
max-width: 850px;
}

.garisbawah {
height: 5px;
width: 140px;
background-color: #1291a1;
    margin: 0 auto;
}

@keyframes headShake {
    0% {
        transform: translateX(0);
    }
    6.5% {
        transform: translateX(-6px) rotateY(-9deg);
    }
    18.5% {
        transform: translateX(5px) rotateY(7deg);
    }
    31.5% {
        transform: translateX(-3px) rotateY(-5deg);
    }
    43.5% {
        transform: translateX(2px) rotateY(3deg);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}

.headShake {
animation: headShake infinite;
}


@keyframes pulse {
    0% {
        transform: scale(0.7);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.pulse {
    animation: pulse 0.5s;
}

.bg-yellow{
    background-color: #FFF1A6;
}
.bg-dark-yellow{
    background-color: #FFCC00;
}


.sesi input[type="radio"] {
    display: none;
}

.sesi label {
    position: relative;
    color: #FFCC00;
    /* font-family: "Poppins", sans-serif; */
    background-color: white;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.8em;
    border: 3px solid #FFCC00;
    padding: 1em 2em;
    border-radius: 0.5em;
}
.sesi label:before {
    content: "";
    height: 1.5em;
    width: 1.5em;
    border: 3px solid #FFCC00;
    border-radius: 50%;
}
.sesi input[type="radio"]:checked+label:before {

    /* border: 0.65em solid #ffffff; */
    background-color: #FFCC00;
}
.sesi input[type="radio"]:checked+label {
    background-color: #FFCC00;
    color: #ffffff;
}

.card{
    border: 1px solid #000000;
}

.card-header{
    border-bottom: 1px solid #000000;
}

label.disable {
    background-color: #ddd;
    cursor:default;
}

.text-gray{
    color: #999999;
}

@media screen and (max-width:540px){
    .no-mt {
    margin-top: 0 !important;
  }
}
